# L1 Config
PRIVATE_KEY=your_private_key_here
ETH_RPC=https://eth.llamarpc.com
INK_RPC=https://rpc-gel.inkonchain.com
INK_CHAIN_ID=57073

# after deployment
L1_DEPOSITOR=0x...
L2_VAULT=0x...
L1_RECIPIENT=0x...  # your wallet address
